<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dao.AirqualityMapper">
	
			<select id="getAll" resultMap="ong">
					SELECT * FROM air_quality_index aq,district ds WHERE aq.`district_id`=ds.`id` 
					ORDER BY aq.id LIMIT #{begin},#{size}
			</select>
			<resultMap type="com.win.pojo.Airquality" id="ong">
					<id property="id" column="id"/>
					<result property="district_id" column="district_id"/>
					<result property="monitor_time" column="monitor_time"/>
					<result property="pm10" column="pm10"/>
					<result property="pm25" column="pm25"/>
					<result property="monitoring_station" column="monitoring_station"/>
					<result property="last_modify_time" column="last_modify_time"/>
				<association property="district" javaType="com.win.pojo.District">
					<id property="id" column="id"/>
					<result property="name" column="name"/>
				</association>
			</resultMap>
			<select id="count" resultType="int">
					select count(*) from air_quality_index
			</select>
			<insert id="insert" parameterType="com.win.pojo.Airquality">
				insert into air_quality_index(district_id,monitor_time,pm10,pm25,monitoring_station)
				values (#{district_id},#{monitor_time},#{pm10},#{pm25},#{monitoring_station})
			</insert>
	

</mapper>
